{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "printWidth": 140,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": "src/**/*.html",
            "options": {
                "printWidth": 180
            }
        }
    ]
}
